@use './variables' as v;
@use './mixins' as mixin;

.articles {
    background-color: v.$veryLightGray;
    h2 {
        text-align: center;

        @include mixin.breakpoint-up(medium) {
            text-align: left;
        }
    }

    .article {

        &__item {
            background-color: v.$white;
            border-radius: 0.3125rem;
            overflow: hidden;
            margin-bottom: 2.8rem;
            box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
            transition: all 0.2s ease;

            &:hover {
                transform: scale(1.03);
            }
        }
        
        &__image {
            height: 200px;
            background-size: cover;
        }

        &__text {
            padding: 2rem 1.5rem;

            @include mixin.breakpoint-up(large) {
                margin-bottom: 0;
            }
        }

        &__author {
            font-size: 0.625rem;
            margin-bottom: .6rem;
        }

        &__title {
            margin-bottom: .5rem;
        }

        &__description {
            font-size: v.$font-small;
            margin-bottom: 0;
        }
    }      
}