@use './variables' as v;
@use './mixins' as mixin;

.articles {
    background-color: v.$veryLightGray;

    h2 {
        text-align: center;

        @include mixin.breakpoint-up(medium) {
            text-align: left;
        }
    }

    .article {

        // &__item {

        // }
        
        &__image {
            // width: 250px;
            // height: 200px;
            border-radius: 5px;
        }

        &__text {
            background-color: v.$white;
            margin-bottom: 1.7rem;
            padding: 2rem;

            @include mixin.breakpoint-up(large) {
                margin-bottom: 2.5rem;
            }
        }

        &__author {
            font-size: 0.625rem;
            margin-bottom: 1rem;
        }

        &__title {
            margin-bottom: .5rem;
        }

        &__description {
            font-size: v.$font-small;
            margin-bottom: 0;
        }
    }      
}