@use "./variables" as v;
@use "./mixins" as mixin;

.footer {
    background-color: v.$darkBlue;
    color: v.$white;
    padding: 2rem 2.5rem;
    font-size: v.$font-small;
    text-align: center;

    @include mixin.breakpoint-up(large) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    a {
        color: white;
    }

    &__grid {
        display: grid;

        @include mixin.breakpoint-up(medium) {
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }
    
        @include mixin.breakpoint-up(large) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__item {

        &--grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    &__logo {
        display: block;
        margin-bottom: 1.875rem;
    }

    &__socials {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 1.875rem;
    }

    &__links {

        li {
            margin-bottom: 1rem;
        }

        // &.col1 {

        // }

        &.col2 {
            margin-bottom: 1.875rem;
        }
    }

    &__cta {
        .button {
            margin-bottom: 1.875rem;
        }
    }

    // &__copyright {

    // }
}