@use "./variables" as v;
@use "./mixins" as mixin;

.footer {
    background-color: v.$darkBlue;
    color: v.$white;
    padding: 3rem 2.5rem;
    font-size: v.$font-small;
    text-align: center;

    a {
        color: white;
    }

    &__grid {
    
        @include mixin.breakpoint-up(large) {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 3fr;
            grid-template-rows: 1fr auto;
            grid-template-areas: 
                "logo links1 links2 cta"
                "social links1 links2 copyright";
            justify-items: start;
            gap: 1rem;
        }
    }

    &__logo {
        display: inline-block;

        @include mixin.breakpoint-down(medium) {
            margin-bottom: 1.875rem;
        }

        @include mixin.breakpoint-up(large) {
            grid-area: logo;
        }
    }

    &__socials {
        @include mixin.breakpoint-down(medium) {
            margin-bottom: 1.875rem;
        }

        @include mixin.breakpoint-up(large) {
            grid-area: social;
        }

        a {
            display: inline-block;

            svg path {
                transition: fill .15s ease-in-out;
            }

            &:hover svg path {
                fill: v.$limeGreen;
            }
        }

        a:not(:last-child) {
            margin-right: .8rem;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mixin.breakpoint-up(large) {
            justify-content: space-between;
            align-items: start;
        }

        &.col1 {
            @include mixin.breakpoint-up(large) {
                grid-area: links1;
            }
        }

        &.col2 {
            @include mixin.breakpoint-down(medium) {
                margin-bottom: 1.875rem;
            }

            @include mixin.breakpoint-up(large) {
                grid-area: links2;
            }
        }

        li {
            line-height: 2.25;
        }

        a {
            transition: color .15s ease-in-out;

            &:hover {
                color: v.$limeGreen;
            }
        }
    }

    &__cta {
        @include mixin.breakpoint-down(medium) {
            margin-bottom: 1.875rem;
        }

        @include mixin.breakpoint-up(large) {
            grid-area: cta;
            justify-self: end;
        }
    }

    &__copyright {
        color: v.$grayishBlue;

        @include mixin.breakpoint-up(large) {
            grid-area: copyright;
            justify-self: end;
            align-self: end
          }
    }
}